body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #5F9EA0;
}
.container {
    width: 90%;
    max-width: 376px;
    margin: 10px;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);;
}
header {
    text-align: center;
    
}
h1{
    color: blue;
    font-size: 2rem;
}
.profile, .goals {
    margin: 10px 10px;
   
}
h2 {
    color: blue;
    font-size: 2rem;
}
p{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: #13274F;
    
}
.goals{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: auto;
}
ol {
    margin: 0 12px 0 12px;
    padding: 0;
    font-size: 1.1rem;
    line-height: 1.8rem;
    
}
img {
    display: block;
    margin: 10px auto;
}
.links h2{
    display: flex;
    justify-content: center;
}
ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
}

ul > li{
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
}
a{
    color: #007FFF;
    text-decoration: none;
}
@media (min-width: 768px){
    header {
        text-align: center;
        font-size: 1.2rem;
    }
    .container {
        width: 90%;
        max-width: 800px;
        margin: 20px;
        padding: 20px;
       
    }
    ol {
        margin: 0 30px 0 30px;
        padding: 0;
        font-size: 1.5rem;
        line-height: 2rem;
       
    }
    .profile, .goals, .links {
        margin: 20px 20px;
       
    }
    ul > li{
        font-size: 1.5rem;
        font-weight: 500;
    }
    
}